<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>219880041913-b1vtjhonuudnb28m7jih7rik5uq2qita.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219880041913-b1vtjhonuudnb28m7jih7rik5uq2qita</string>
	<key>API_KEY</key>
	<string>AIzaSyAaz7IRdYlf-e24MuArmt7lOovESgOaq70</string>
	<key>GCM_SENDER_ID</key>
	<string>219880041913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lcdLoan</string>
	<key>PROJECT_ID</key>
	<string>uncp-lcd</string>
	<key>STORAGE_BUCKET</key>
	<string>uncp-lcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219880041913:ios:ded437eeca93b125fcda68</string>
</dict>
</plist>